:root {
    --primary-color: #71bf44;
    --secondary-color: #0f75bc;
    --white-color: #f1f1f1;
    --black-color: #161616;
    --gray-color: #b8b8b8;

    --header-title-size: 3.6rem;
    --header-p-size: 1.3rem;

    --main-title-size: 2.6rem;
    --box-title-size: 1.8rem;
    --box-text-size: 1rem;

    --nav-font-size: 1.2rem;
    --nav-icon-size: 2rem;

    --font-family: "Finlandica", sans-serif;
}
html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
body {
    width: 100%;
    background-color: var(--white-color);
}

/*============================*/
/*========== HEADER ==========*/
/*============================*/

header {
    background-image: url(../assets/img/quienes-somos/quienes-somos-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*==========================*/
/*========== MAIN ==========*/
/*==========================*/

main {
    width: 100%;
    height: auto;
    padding: 5rem 1rem;
}
.main__container {
    width: 90%;
    margin: auto;
}
.main__container h2 {
    font-size: var(--main-title-size);
    font-weight: 600;
    margin-bottom: 4rem;
    opacity: 0;
    animation: moveToRight 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}
.main__container-boxes {
    opacity: 0;
    animation: moveToRight 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 1px solid transparent;
    padding: 2.5rem;
    background-color: var(--white-color);
}
.box::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(
        to right,
        var(--primary-color),
        var(--secondary-color)
    );
    z-index: -1;
    transform: skew(1.5deg, 1.5deg);
}
.box h3 {
    font-size: var(--box-title-size);
    font-weight: 600;
}
.box p {
    font-size: var(--box-text-size);
}
